@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");
/* ----- Coments ----- */
.comments__title {
  margin-top: 40px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: #2196f3;
  font-family: "Fira Sans", sans-serif;
}

/* ----- Comment ----- */
.list-comment__comment {
  text-align: center;
  list-style: none;
  margin-bottom: 150px; 
  display: table;
  content: "";
  font-family: "Fira Sans", sans-serif;

}

/* ----- Comment text ----- */
.comment__comment-text {
  width: 400px;
  left: 50%;
  margin-left: -200px;
  position: absolute;
  border-radius: 25px; 
  background-color: #2196f3;
  color: white;
  font-family: "Fira Sans", sans-serif;
}

.comment-text__name-author {
  margin: 15px 15px;
   font-weight: 500; 
   color: white;
   font-family: "Fira Sans", sans-serif;
}

.name-author__data-post {
  font-weight: 400;
  font-size: 10pt;
  color: white;
  font-family: "Fira Sans", sans-serif;
}

.name-author__data-post::before {
  content: " · ";
  margin-left: 5px;
  font-weight: 900;
  font-family: "Fira Sans", sans-serif;
}


.comments-div {
  -webkit-animation: popUp ease-in-out 350ms;
  animation: popUp ease-in-out 350ms;
  background: #bdbdbd;
  border-radius: 25px;
  box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.17);
  margin-top: 40px;
  margin-left: -250px;
  left: 50%;
  position: absolute;
  width: 500px;
}

@media only screen and (max-width: 320px) {

  .comments-div {
    -webkit-animation: popUp ease-in-out 350ms;
    animation: popUp ease-in-out 350ms;
    background: #bdbdbd;
    border-radius: 25px;
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.17);
    margin-top: 40px;
    margin-left: -150px;
    left: 50%;
    position: absolute;
    width: 300px;
  }

  .comment__comment-text {
    width: 200px;
    left: 50%;
    margin-left: -100px;
    position: absolute;
    border-radius: 25px; 
    background-color: #2196f3;
  }

  .list-comment__comment {
    text-align: center;
    list-style: none;
    margin-bottom: 200px; 
    display: table;
    content: "";
  }


}